<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.web.mapper.VacationRecordMapper">
    <resultMap id="baseResultMap" type="com.example.web.model.pojo.VacationRecord">
        <id column="id" property="id"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="day" property="day"/>
        <result column="hour" property="hour"/>
        <result column="vacate_category_id" property="vacateCategoryId"/>
        <result column="reason" property="reason"/>
        <result column="employe_id" property="employeId"/>
        <result column="status" property="status"/>
        <result column="auditor_id" property="auditorId"/>
    </resultMap>

    <resultMap id="deep" type="com.example.web.model.vo.VacationRecordVo" extends="baseResultMap">
        <id column="id" property="id"/>
        <result column="vacation_category" property="vacationCategory"/>
        <result column="employe_name" property="employeName"/>
        <result column="auditor_name" property="auditorName"/>
        <result column="duration" property="duration"/>
    </resultMap>

    <select id="deepSearch" resultMap="deep">
        select `vacation_record`.*,
        vc.category as vacation_category ,
        e.name as employe_name ,
        e2.name as auditor_name,
        `vacation_record`.day+ROUND(`vacation_record`.hour*1./24,2) as duration
        from `vacation_record`
        left join `vacate_category` as vc
        on `vacation_record`.vacate_category_id = vc.id
        left join `employe` as e
        on `vacation_record`.employe_id = e.id
        left join `employe` as e2
        on `vacation_record`.auditor_id = e2.id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>
</mapper>
